---
version: "3.8"
services:
  tailscale-userspace:
    image: ghcr.io/efficacy38/tailscale-userspace:latest
    expose:
      # http proxy
      - 1055
      # sock5 proxy
      - 1056
    volumes:
      # save state file
      - ./data:/app
    env_file:
      - ./.env
    privileged: true
    # entrypoint: sleep infinity

  tailscale-derp:
    image: ghcr.io/efficacy38/tailscale-derp:latest
    volumes:
      - ./cert:/app/certs
    ports:
      # acme http challenge
      - 80:80/tcp
      - 443:443/tcp
      # stun port
      - 3478:3478/udp
    env_file:
      - path: ./.env
    # entrypoint: sleep infinity
