# (Required, both of tailscale-derp and tailscale-userspace) tailscaled config
TAILSCALE_AUTH_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TAILSCALE_HOSTNAME=derp
TAILSCALE_OPT=--login-server https://xxxxxxxxx.net

# (Optional, both) tailscaled state storage
## Use `mem:` for ephemeral machine (auto-deleted 30 min to 48 hours after exit),
## or `/app/states` to persist machine auth key across restarts.
## Default: mem:
TAILSCALED_STATE_ARG="/app/states"

# (Optional, tailscale-userspace) extra tailscaled flags for userspace proxy
TAILSCALED_OPT=--socks5-server=0.0.0.0:1055 --outbound-http-proxy-listen=0.0.0.0:1056

# (Required, tailscale-derp) derp configs
DERP_DOMAIN=xxxxxxxxx.net
DERP_VERIFY_CLIENTS=true
## Optional (defaults shown):
# DERP_CERT_MODE=letsencrypt
# DERP_CERT_DIR=/app/certs
